.photo-wrapper {
    border-left: 3px solid #1a1a1a;
}

.photo-wrapper:last-child {
    border-right: 3px solid #1a1a1a;
}

.photo {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    overflow: scroll;
}


.img-container {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 10px 10px 10px;
    height: 100%;
}

.photo .date {
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    width: 50px;
    font-size: 42px;
    text-align: center;
    background-color: #1a1a1a;
    color: white;
    position: absolute;
}

.photo .title {
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 5px;
    font-style: italic;
    background-color: rgba(26, 26, 26, 0.8);
    padding: 5px;
}

.photo .title a {
    color: white;
    text-decoration: none;
}

.photo .status-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-size: 24px;
    font-style: italic;
}

.photo-item {
    height: 100%;
    position: relative;
}
