.date-picker {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.date-picker select, .date-picker input {
    font-size: 24px;
    margin: 5px;
}
