.header {
    height: 60px;
    border-bottom: 1px solid #1a1a1a;
    margin-bottom: 40px;
}

.header-item {
    width: 50%;
    height: 100%;
    float: left;
}

.brand {
    flex-direction: row;
    align-items: center;
    display: flex;

}

.brand a {
    text-decoration: none;
}

.logo {
    padding-left: 30px;
}

.logo .prefix {
    font-size: 24px;
    font-style: italic;
}

.logo .name {
    font-size: 36px;
}

.header-item .date-picker {
    justify-content: flex-end;
}


@media(max-width: 792px){
    .logo {
        padding-left: 10px;
    }

    .logo .prefix {
        font-size: 12px;
        font-style: italic;
    }

    .logo .name {
        font-size: 18px;
    }
}
