.photo {
    display: flex;
    flex-direction: column;
    height: 800px;
}

.photo .title {
    font-style: italic;
    margin-bottom: 5px;
}

.photo a {
    width: 100%;
    flex: 1;
}


.img-container {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
