.scroll-wrapper {
    position: absolute;
    top: 128px;
    left: 0;
    bottom: 0px;
    right: 0;
    overflow-x: auto;
    will-change: transform;
}

.scroll-container {
    position: relative;
    height: 95%;
}
