.scroll-wrapper {
    position: absolute;
    top: 128px;
    left: 0;
    bottom: 0px;
    right: 0;
    overflow-x: auto;
}

@media(max-width: 792px) {
    .scroll-wrapper {
        overflow-x: hidden;
    }
}

.scroll-container {
    position: relative;
    height: 95%;
}
